/* Extra extra large devices (larger desktops, 1400px and up) */
@media (max-width: 1399.98px) {
    /* CSS rules for extra extra large devices */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) {
    /* CSS rules for extra large devices */
    /* review */
    .review-item__quote {
        width: 100%;
    }
    /* about */
    .about__inner {
        column-gap: 25px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {
    /* CSS rules for large devices */
    /* Header */
    .header__inner {
        flex-direction: column;
        gap: 30px;
    }
    .navbar__link,
    .header-action__link {
        font-size: 1.2rem;
    }
    /* Header end */
    /* review */
    .review-item {
        flex-direction: column;
    }
    .review-item .section-heading {
        font-size: 4.2rem;
    }
    .review-item__quote {
        font-size: 1.6rem;
    }
}

/* Medium devices (tablets, 576px and up) */
@media (max-width: 767.98px) {
    /* CSS rules for medium devices */
    .navbar__list {
        flex-wrap: wrap;
        gap: 17px;
        justify-content: center;
    }

    /* Hero */
    .hero {
        margin-top: 20px;
    }
    .hero__heading {
        margin-top: 30px;
        font-size: 4.6rem;
    }
    /* end hero */
    /* about */
    .about__inner {
        grid-template-columns: 1fr;
    }
    /* end about */
    /* service */
    .service__body {
        grid-template-columns: 1fr 1fr;
    }
    .service-item {
        width: 100%;
        height: 33%;
    }
    .service__body {
        column-gap: 30px;
    }
    .service__cta {
        margin-top: 80px;
    }
    /* Staff */
    .staff__list {
        column-gap: 13px;
    }
    /* pricing */
    .pricing__desc {
        width: 100%;
    }
    .pricing__list {
        column-gap: 34px;
    }
    .pricing-item {
        padding: 10px;
    }
    .pricing-item__item {
        margin-top: 16px;
    }
    /* blog */
    .blog__top .section-heading {
        font-size: 4.5rem;
    }
    /* Footer */
    .footer__inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__left {
        padding: 0;
    }
    .footer__right .footer__row {
        margin-left: 0;
        gap: 29px 68px;
    }
}

/* Small devices (phones, 0px and up) */
@media (max-width: 575.98px) {
    /* CSS rules for small devices */
    .about__heading,
    .about__desc {
        width: 100%;
    }
    /* service */
    .service__body {
        gap: 0 15px;
    }
    /* review */
    .review-item__media {
        width: 200px;
    }
    /* Blog */
    .blog__top {
        flex-direction: column;
        text-align: center;
    }
    .blog__info {
        margin-top: 15px;
        margin-right: initial;
    }
    .blog__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 38px;
    }
    /* price */
    .pricing__list {
        grid-template-columns: 1fr;
        gap: 34px;
    }
    .pricing__sale-off {
        right: -33px;
        top: -42px;
    }
    /* about */
    .about__desc-bottom {
        width: 100%;
    }
    .about .tab {
        width: 90%;
    }
    .about .tab__list {
        gap: 13px;
    }
}
